$dialog-normal-max-height: 70vh;
$dialog-large-width: 95vw;
$dialog-large-height: 95vh;

$dialog-body-header-height: 4vh;
$dialog-body-footer-height: 60px;

.__dialog-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .el-dialog__header {
    padding: 0;
    z-index: 2;
  }

  .el-dialog__headerbtn {
    .el-dialog__close {
      color: white;
    }
  }

  .el-dialog__close {
    font-size: 22px;
    font-weight: bold;
  }

  .title-container {
    position: relative;
    height: $dialog-body-header-height;
  }
}

.__dialog-normal-container {
  .el-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
  }

  .el-dialog__body {
    padding: 0 !important
  }

  .el-dialog__header {
    //border-bottom: 0.5px solid #eeeeee;
  }

  .dialog-body {
    max-height: $dialog-normal-max-height - $dialog-body-header-height;
    overflow-y: auto;
    overflow-x: hidden;
    //padding: 20px 20px 0 20px;
  }

  .dialog-body-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: $dialog-body-footer-height;
    border-top: 0.5px solid #eeeeee;
  }

  .dialog-body-footer--left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: $dialog-body-footer-height;
  }
}


.__dialog-large-container {
  justify-content: center;

  .el-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    width: $dialog-large-width !important;
    height: $dialog-large-height !important;
    margin: 0 !important;
    padding-bottom: $dialog-body-footer-height;
    overflow: hidden;
  }

  .el-dialog__header {
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 0.5px solid #eeeeee;
  }

  .el-dialog__body {
    flex: 1;
    padding: 0 !important;
    overflow: auto;
  }

  .dialog-body-footer {
    position: fixed;
    left: 2.5vw;
    bottom: 2.5vh;
    width: $dialog-large-width;
    background-color: white;
    z-index: 3;
    border-top: 0.5px solid #eeeeee;
  }
}

.dialog-body {
}
