@import "./variables.scss";
@import "./common.scss";

.page-container {
  .el-main {
    padding: 20px 20px 0;
  }

  .pagination-container {
    padding: 0 !important;
    margin-top: 0 !important;
  }
}

.page-header-container {
  @extend .border-bottom-solid-normal;

  .page-header-title {
    font-size: 16px;
  }
}

.page-main-container {

  .page-main-title {
    min-height: 60px;
  }
}

.page-footer-container {

}


.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.view-width-full {
  width: 100%;
}

.view-full {
  width: 100%;
  height: 100%;
}

.top-gap {
  margin-top: 20px !important;
}

.bottom-gap {
  margin-bottom: 20px !important;
}
